* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Poppins", sans-serif;
}
body {
  border-radius: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: url(bg-mobile.jpg);
  background-size: cover;
}
input {
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 10vh;
  margin-bottom: 70px;
  margin-right: 45px;
  color: rgb(244, 164, 96);
}
#a {
  border: 10px solid salmon;
  display: block;
  border-radius: 6%;
  padding: 5% 10%;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
button {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  font-weight: 150;
  transform: translateX(-130px);
  margin-left: 63%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: sandybrown;
  display: block;
}
.caixa-formulario {
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  margin-left: 0px;
  font-size: 5vh;
  min-width: none;
}
input {
  font-size: 3vh;
  padding: 5px;
}
.td {
  font-size: 3vh;
  font-weight: 150;
  transform: translateX(33px);
  margin-left: 60%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.blz {
  align-items: center;
  margin-left: 400px;
  transform: translateY(-108%);
}
input {
  border-radius: 12px;
}
a {
  text-decoration: none;
}
.brbr {
  margin-left: 28%;
}
@media (max-width: 828px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 100%;
    padding: 10px;
  }
}
