* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Poppins", sans-serif;
}
body {
  border-radius: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  overflow: hidden;
  background: url(bg-mobile.jpg);
  background-size: cover;
}
input {
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 10vh;
  margin-bottom: 70px;
  margin-right: 45px;
  color: aliceblue;
}
#a {
  display: block;
  border-radius: 6%;
  padding: 5% 10%;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.brbr {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  font-weight: 150;
  transform: translateX(-130px);
  margin-left: 63%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: blueviolet;
  display: block;


}
.blz {
  margin-left: 160%;
  transform: translateY(-105%);
}
.caixa-formulario {
  cursor: pointer;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 5vh;
  min-width: none;
  margin-right: 49%;
    position: relative;
  z-index: 0;

}
input {
  font-size: 3vh;
  padding: 5px;
}
.td {
  font-size: 3vh;
  font-weight: 150;
  transform: translateX(33px);
  margin-left: 60%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}




input {
  border-radius: 12px;
}
a {
  text-decoration: none;
}

@media screen and (max-width:100px) {
  
  body {
    font-size: 16px;}
  .container{
   width: 100%;
   padding: 10px}
  
}

.mybutton {
  display: flex;
  justify-content: center;
  cursor: pointer;
   border-radius: 10px;
  background-color: blueviolet;
    font-size: 3.5vh;
  font-weight: 150;
  margin-left: 63%;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
.mybutton:hover{
    transition: 0.3s ease;
  transform: scale(1.05);
}